.container {
  max-width: 52.5rem;
  width: 100%;

  margin: 0 auto;

  @media screen and (min-width: 1280px) {
    max-width: 72rem;
  }
}

main {
  width: 100%;
  margin-top: 3.625rem;

  .movies-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.75rem;

    > div:last-child() {
      margin-bottom: 4rem;
    }
  }

  @media screen and (min-width: 640px) {
    margin-top: 5.625rem;
    .movies-list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2.75rem;
    }
  }

  @media screen and (min-width: 868px) {
    .movies-list {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3.75rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .movies-list {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 4.75rem;
    }
  }

  @media screen and (min-width: 1280px) {
    .movies-list {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 4.75rem;
    }
  }
}